#container{
    display: grid;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: 60px 80px 60px 60px 60px 60px;
    grid-template-areas: 
    "header "
    "content " 
    "singUp"
    "paiF";
    
}
.borda{
    border: 1px black solid;
}
#header{
    background-color: blue;
    grid-area: header;
}
#content{
    background-color: aqua;
    grid-area: content;
}
#singUp{
    background-color: brown;
    grid-area: singUp;
}
#paiF{
    grid-area: paiF;
    background-color: chartreuse;
}